<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="com.campus.miniProject.DAO.myPageDAO">
  	<insert id="planInsert">
  		insert into myplantable(userid,title,color,content,Sdate,Edate,year,month) 
  		values(#{userid},#{title},#{color},#{content},#{Sdate},#{Edate},#{year},#{month})
  	</insert>
  	<select id="planOut" resultType="com.campus.miniProject.VO.myPageVO">
  		select userid,title,color,content,Sdate,Edate from myplantable where userid=#{param1}
  	</select>
  </mapper>